
body {
    background-image: url("..//images/GokuFondoCanvas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #title {
    background-size: cover;
    display: flex;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }
  
  #div-list {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  #list {
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
  }

  #list li {
    display: flex;
    align-items: center;
  }
  
  #list li img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  #intro {
    text-align: center;
  }
  
  #arrows {
    width: 100px;
    margin-top: 20px;
  }
  
  #btn {
    margin: 20px;
    font-size: 1em;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    
  }

  /* #canvas {
  /* #canvas {
    opacity: 70%;
  } */
  